/* Brand color according to https://encycolorpedia.com/search?q=nvidia */
.manufacturer_color_NVIDIA {
  color: #76b900;
}

/* Brand color according to https://encycolorpedia.com/search?q=intel */
.manufacturer_color_Intel {
  color: #0071c5;
}

/* Brand color according to https://www.color-hex.com/color-palette/12321 */
.manufacturer_color_AMD {
  color: #ef0707;
}

/* Logo color according to https://logos-world.net/ati-logo/ */
.manufacturer_color_ATI {
  color: #ea1c2a;
}
